<app-side-bar></app-side-bar>
<div class="card flex align-items-center">
    <h2 class="mx-auto font-size: 4rem">INVENTARIO</h2>
</div>


<div class="card">

    <!-- FILTROS -->
    <p-card>
        <div class="flex align-items-center justify-content-center">
            <!-- Filtro Clasificación -->
            <div class="flex align-items-center mr-5">
                <label class="mr-2">Clasificación:</label>
                <p-dropdown 
                    [options]="clasificacionFiltro" 
                    [(ngModel)]="this.filterInventarioDto.idClasificacionProducto" 
                    optionLabel="nombre"
                    optionValue="id" 
                    placeholder="Seleccionar clasificación">
                </p-dropdown>
            </div>
            <!-- Filtro Unidades -->
            <div class="flex align-items-center mr-5">
                <label class="mr-2">Unidades:</label>
                <p-dropdown 
                    [options]="unidadesFiltro"
                    [(ngModel)]="this.filterInventarioDto.idUnidad"
                    optionLabel="nombre"
                    optionValue="id"
                    placeholder="Seleccionar unidad">
                </p-dropdown>
            </div>
            <!-- Filtro Nombre -->
            <div class="flex align-items-center mr-5">
                <label class="mr-2">Buscar por nombre:</label>
                <input id="disabled-input" type="text" [(ngModel)]="this.filterInventarioDto.nombreProducto"
                pInputText />
            </div>

            <div>
                <p-button label="Buscar" [raised]="true" (onClick)="buscar()"/>
            </div>
        </div>
    </p-card>

    <!-- TABLA -->
    <p-table [value]="inventarioResponseDto" dataKey="id" [paginator]="true" [rows]="5" [first]="first"
        [showCurrentPageReport]="true" [tableStyle]="{ 'min-width': '50rem' }" styleClass="p-datatable-striped"
        [sortOrder]="-1" currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} datos"
        (onPage)="pageChange($event)" [rowsPerPageOptions]="[5, 10, 15]" [expandedRowKeys]="expandedRows">

        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-around">
                <div>
                    <h3 class="m-0">Lista de productos</h3>
                </div>
                <div>
                    <!-- <i class="pi pi-file-plus cursor-pointer" style="font-size: 2rem"
                        (click)="openModalProducto()"></i> -->
                    <p-button label="Agregar Producto" icon="pi pi-plus cursor-pointer" severity="primary"
                    [outlined]="true" (onClick)="openModalProducto()" />
                </div>
            </div>
        </ng-template>

        <!-- Header -->
        <ng-template pTemplate="header">
            <tr class="p-text-center">
                <th style="width:5%">
                <th pSortableColumn="id">Código <p-sortIcon field="id" />
                <th style="width:10%" pSortableColumn="clasificacionProducto">Clasificación <p-sortIcon field="clasificacionProducto" />
                <th style="width:10%" pSortableColumn="nombre_producto">Nombre <p-sortIcon field="nombre_producto" />
                <th pSortableColumn="unidad">Unidad <p-sortIcon field="unidad" />
                <th pSortableColumn="inventario_inicial">Inventario inicial <p-sortIcon field="inventario_inicial" />
                <th pSortableColumn="costo_inicial">Costo inicial <p-sortIcon field="costo_inicial" />
                <th pSortableColumn="cantidad_actual">Cantidad actual <p-sortIcon field="cantidad_actual" />
                <th pSortableColumn="precio_actual">Precio actual <p-sortIcon field="precio_actual" />
                <th pSortableColumn="fecha">Fecha <p-sortIcon field="fecha" />
                <!-- <th class="align-content-center">Acciones</th> -->
            </tr>
        </ng-template>

        <!-- Body -->
        <ng-template pTemplate="body" let-producto>
            <tr class="align-items-center">
                <td>
                    <p-button type="button" pRipple [pRowToggler]="producto" [text]="true" [rounded]="true"
                        [plain]="true" [icon]="producto.icon" (onClick)="toggleIcon(producto)"/>
                </td>
                <td>{{ producto.id }}</td>
                <td>{{ producto.clasificacionProducto }}</td>
                <td>{{ producto.nombre_producto }}</td>
                <td>{{ producto.unidad }}</td>
                <td>{{ producto.inventario_inicial }}</td>
                <td>${{ producto.costo_inicial }}</td>
                <td>{{ producto.cantidad_actual }}</td>
                <td>${{ producto.precio_actual }}</td>
                <td>{{ producto.fecha }}</td>
                <!-- <td>
                    <div class="flex justify-content-center flex-wrap">
                        <div class="px-2">
                            <p-button label="Editar" icon="pi pi-pen-to-square" [outlined]="true"
                                (onClick)="openModalProducto(producto.id)" />
                        </div>
                        <div class="px-2">
                            <p-button label="Eliminar" icon="pi pi-trash" severity="danger" [outlined]="true"
                                (onClick)="confirmDeleteProducto($event, producto.id)" [disabled]="producto.archivos != ''"/>
                        </div>
                    </div>
                </td> -->
            </tr>
        </ng-template>

        <!-- Contenido expandido -->
        <ng-template pTemplate="rowexpansion" let-producto>

            <tr>
                <td colspan="12">
                    <div class="flex align-items-center p-mt-3">
                        <div class="my-3">
                            <p-button label="Agregar Entrada" icon="pi pi-plus cursor-pointer" severity="primary"
                                [outlined]="true" (onClick)="openModalEntrada(producto.id)" />
                        </div>
                        <p-table [value]="producto.entradaInventariado" dataKey="idEntrada" class="p-datatable p-mt-3 w-9">
                            <ng-template pTemplate="header">
                                <tr class="p-text-center">
                                    <th style="width: 14%;">ID</th>
                                    <th style="width: 14%;">Entrada</th>
                                    <th style="width: 14%;">Costo</th>
                                    <th style="width: 14%;">Fecha</th>
                                    <!-- <th>Acciones</th> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-entradaInventariado>
                                <tr class="p-text-center">
                                    <td>{{ entradaInventariado.id }}</td>
                                    <td>{{ entradaInventariado.entrada }}</td>
                                    <td>${{ entradaInventariado.costo }}</td>
                                    <td>{{ entradaInventariado.fecha }}</td>
                                    <!-- <td>
                                        <div class="flex justify-content-center flex-wrap">
                                            <div class="px-2">
                                                <p-button label="" icon="pi pi-pen-to-square" [outlined]="true"
                                                    (onClick)="getAvisoPrivacidadArchivo(entradaInventariado.id, false)" />
                                            </div>
                                            <div class="px-2">
                                                <p-button label="" icon="pi pi-trash" severity="danger" [outlined]="true"
                                                    (onClick)="confirmDeleteEntrada($event, entradaInventariado.id)" />
                                            </div>
                                        </div>
                                    </td> -->
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="emptymessage">
                                <tr class="p-text-center">
                                    <td colspan="6">Aún no hay entrada inventariado para este producto.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-confirmDialog />

    <!-- AGREGAR PRODUCTO -->
    <p-dialog [(visible)]="dialogProduct" [style]="{ width: '750px' }" header="Agregar producto" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <!-- <div class="field">
                <label for="name">Código:</label>
                <input id="disabled-input" type="text" [(ngModel)]="this.createInventarioDto.codigo"
                    pInputText />
            </div> -->

            <div class="mb-3">
                <label class="mb-2">Clasificación:</label>
                <p-dropdown 
                    [options]="clasificacion" 
                    [(ngModel)]="this.createInventarioDto.idClasificacionProducto" 
                    optionLabel="nombre"
                    optionValue="id" 
                    placeholder="Seleccionar clasificación">
                </p-dropdown>
            </div>

            <div class="field">
                <label for="name">Nombre:</label>
                <input id="disabled-input" type="text" [(ngModel)]="this.createInventarioDto.nombre_producto"
                    pInputText />
            </div>

            <div class="mb-3">
                <label class="mb-2">Unidades:</label>
                <p-dropdown 
                    [options]="unidades"
                    [(ngModel)]="this.createInventarioDto.idUnidad"
                    optionLabel="nombre"
                    optionValue="id"
                    placeholder="Seleccionar unidad">
                </p-dropdown>
            </div>

            <div class="field">
                <label for="name">Inventario inicial:</label>
                <input id="disabled-input" type="number" [(ngModel)]="this.createInventarioDto.inventario_inicial"
                    pInputText />
            </div>

            <div class="field">
                <label for="name">Costo inicial:</label>
                <input id="disabled-input" type="number" [(ngModel)]="this.createInventarioDto.costo_inicial"
                    pInputText />
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cerrar" icon="pi pi-times" [text]="true" (onClick)="hideDialog('Producto')" />
            <p-button label="Guardar" icon="pi pi-check" [text]="true" (onClick)="createProducto()"
                [disabled]="botonValid('Producto')" />
        </ng-template>
    </p-dialog>

    <!-- AGREGAR ENTRADA -->
    <p-dialog [(visible)]="dialogEntrada" [style]="{ width: '750px' }" header="Agregar entrada para el producto" [modal]="true"
        styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="field">
                <label for="name">Entrada:</label>
                <input id="disabled-input" type="number" [(ngModel)]="this.createEntradaInventarioDto.entrada"
                    pInputText />
            </div>

            <div class="field">
                <label for="name">Costo:</label>
                <input id="disabled-input" type="number" [(ngModel)]="this.createEntradaInventarioDto.costo"
                    pInputText />
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <p-button label="Cerrar" icon="pi pi-times" [text]="true" (onClick)="hideDialog('archivo')" />
            <p-button label="Guardar" icon="pi pi-check" [text]="true" (onClick)="createEntrada()"
                [disabled]="botonValid('archivo')" />
        </ng-template>
    </p-dialog>

    <p-toast />

    <div *ngIf="spinner" class="overlay">
        <p-progressSpinner styleClass="w-4rem h-4rem" strokeWidth="8" fill="var(--surface-ground)"
            animationDuration=".5s" />
    </div>

</div>